/* Color
  DarkPurle:#2d132c;
  MediumPurple:#801336;
  LightPurple:#c72c41;
  Pink-ish:#ee4540;

  text__color--cremy:#dbedf3;
  Main_Font_Color: #dbedf3;
  Main_Hover_Color:#ff971d;
*/

*,
*::after,
*::before,:focus{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
  /* gets rid of padding and border when measuring width and height */ }

html {
  font-size: 62.5%;
  /*Default browser value=16--->16/10==.625*/
  /* we want 10 px general value*/ }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  /* padding: 3rem; */
  background-image:repeating-linear-gradient(to bottom right,#2d132c, rgb(199, 44, 65));
}

/******Header dhe NavBar******/
header{
  background-color: rgb(0, 0, 0,0.4);
  font-size: 1.6rem;
  margin-top: 0;
}
nav li{
  display: inline-block;
  text-decoration: none;
  margin:.5rem;
}
nav a,nav a:active,nav a:visited{
text-decoration: none;
color: #dbedf3;
}

nav a:hover{
  color:#ff971d;
  font-size: 1.7rem;
  border-radius: .5rem;
}
.UserLogout{
  float: right;
}
/* Header Text and Below */
.section__Header{
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: #dbedf3;
    background-color: rgb(0, 0, 0,.75);
    margin: 2rem;
    
}
.container{
    position: relative;
}
form {
    background-color: rgb(0, 0, 0,.4);
    font-size: 1.6rem;
    font-weight: 500;
    color: #dbedf3;
    text-align: left;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);

}
form input,select{
    float: right;
    width: 40%;
    margin-bottom: 1rem;
}
form div {
    margin: 1rem;
    border-bottom: rgb(126, 117, 117,.7) solid 0.05rem;
    
}
.moviePoster{
    padding: 0;
}